* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #5021Ad, #D05471, #DAA657);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Edu TAS Beginner', cursive;
}

/* Estilos para el menú de juegos */
.menu-juegos {
    margin-top: 20px; /* Asegura que haya espacio entre el mensaje y los juegos */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.juego {
    margin: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.juego:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.juego img {
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.juego:hover img {
    transform: scale(1.05);
}

.info-juego {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button.info {
    background-color: #3498db;
    color: white;
}

button.info:hover {
    background-color: #2980b9;
}

button.jugar {
    background-color: #27ae60;
    color: white;
}

button.jugar:hover {
    background-color: #219653;
}

/* Estilos para el modal - información del juego */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #5021Ad, #D05471, #DAA657);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    margin-left: auto;
}

.navbar-left img {
    width: 90px;
    height: 90px;
    margin-right: 20px;
}

.navbar-right .btn-salir {
    padding: 8px 16px;
    border: none;
    background-color: #ff6347;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar-right .btn-salir:hover {
    background-color: #d32f2f;
}

.motivational-message {
    margin-top: 140px; /* Asegura que el mensaje no se superponga con la barra de navegación */
    padding: 20px;
    background-color: #ffffff99;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333;
    font-size: 1.5em;
    max-width: 800px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

